<ion-header>
  <ion-toolbar>
    <ion-title>Warnmeldung</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="icon-text warn ion-padding ion-text-center">
    <ion-icon name="warning"></ion-icon>
    <h1>Infektionswarnung</h1>
  </div>
  <div class="content">
    <p>
      <b>Wir haben ein erhöhtes Infektionsrisiko ermittelt.</b>
    </p>
    <ul>
      <li>
        Möglicher Weise bist du gar nicht infiziert. Safty First
      </li>
      <li>
        Bitte suche dennoch zeitnah einen Arzt auf und bespreche weiteres vorgehen.
      </li>
      <li>
        Sag dem Arzt bitte,dass du die OHIOH-APP nutzt
      </li>
      <li>
        Es hilft euch schnell eine Lösung zu finden
      </li>
      <li>
        Wir drücken dir die Daumen
      </li>
    </ul>
    <p style="font-style: italic;">
      Arzt Verlinkung in der Nähe
    </p>
    <ion-button fill="clear" class="ion-float-right" color="primary" (click)="onNextClick()">Weitere Schritte<ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
    <ion-button fill="clear" class="ion-float-right" color="warning" (click)="onNextClick()">Warnung akzeptieren<ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
  </div>

</ion-content>