<ion-header>
  <ion-toolbar>
    <ion-title>credits</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h3>Team</h3>
  <ul>
    <h5>Coordination</h5>
    <li>Tjark Ziehm </li>
    <h5>Frontend Developement</h5>
    <li>Mario Geier</li>
  </ul>

  <h3>Attribution</h3>
  <div>Icons made by <a href="https://www.flaticon.com/authors/roundicons" title="Roundicons">Roundicons</a> from <a
      href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>



</ion-content>