<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'credits.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h3>{{ 'credits.motivation.title' | translate }}</h3>
  <p>{{ 'credits.motivation.description' | translate }}</p>

  <h3>{{ 'credits.team.title' | translate }}</h3>
  <p>{{ 'credits.team.description' | translate }}</p>
  <ul>
    <h5>{{ 'credits.team.coordination' | translate }}</h5>
    <li>Tjark Ziehm</li>
    <li>Peter</li>
    <li>Oska</li>
    <li>Shawar</li>
    <li>Gina</li>
    <li>Ameen</li>
    <li>Tommy</li>
    <li>Tim Hemig</li>
    <li>Sconti</li>
    <li>Noman</li>
    <li>Saad</li>
    <li>Mohsin</li>

    <h5>{{ 'credits.team.frontendDevelopment' | translate }}</h5>
    <li>Janna Wieneke</li>
    <li>Mario Geier</li>

    <h5>{{ 'credits.team.university' | translate }}</h5>
    <li>Christian</li>
    <li>Daniel</li>

  </ul>
  <h5>{{ 'credits.team.thankYou' | translate }}</h5>

  <h3>{{ 'credits.attribution.title' | translate }}</h3>
  <div [innerHTML]="'credits.attribution.description' | translate"></div>

  <h3>{{ 'credits.copyright.title' | translate }}</h3>
  <p>
    <small>
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
      dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita
      kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
      sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
      voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
      sanctus est Lorem ipsum dolor sit amet.
    </small>
  </p>
  <h3>{{ 'credits.gtc.title' | translate }}</h3>
  <p>
    <small>
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
      dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita
      kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
      sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
      voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
      sanctus est Lorem ipsum dolor sit amet.
    </small>
  </p>

</ion-content>