<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>GPS Daten</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-button (click)="geoData.startBackgroudGeo()">Backround Geo Scan</ion-button>
  <ion-button (click)="geoData.stopBackgroudGeo()" color="danger">Backround Geo stop</ion-button>
  <ion-button (click)="sync()">Sync</ion-button>
  <ion-button (click)="syncStore()">Sync store</ion-button>

  <!-- <ion-item>
    <ion-range #b min="0" max="200" color="secondary" (ionChange)="changeValB(b.value)">
      <ion-label slot="start">0m</ion-label>
      <ion-label slot="end">200m</ion-label>
    </ion-range>
  </ion-item>
  <ion-item>
    <ion-range #acc min="0" max="200" color="secondary" (ionChange)="changeValAcc(acc.value)">
      <ion-label slot="start">0m</ion-label>
      <ion-label slot="end">200m</ion-label>
    </ion-range>
  </ion-item>
  <ion-item>
    <ion-range #a min="0" max="200" color="secondary" (ionChange)="changeValA(a.value)">
      <ion-label slot="start">0m</ion-label>
      <ion-label slot="end">200m</ion-label>
    </ion-range>
  </ion-item> -->
  <div *ngIf="backroundLocations">
    <p>{{backroundLocations.length}}</p>
    <ion-list>
      <ion-item *ngFor="let location of backroundLocations">
        <small>{{location.time | date: 'HH:mm:ss'}}</small>
        <p style="margin: 8px;">{{location.accuracy | number:'2.0-0'}}m</p>
        <p style="margin: 8px;">{{location.latitude}}</p>
        <p style="margin: 8px;">{{location.longitude}}</p>
      </ion-item>
    </ion-list>
  </div>


</ion-content>

<ion-footer>
  <div style="height: 100px;">
    {{data}}
  </div>
</ion-footer>