<ion-header>
  <ion-toolbar>
    <ion-title>qr-generator</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <ion-list>

    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input [(ngModel)]="name" autofocus=true></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Ort</ion-label>
      <ion-input [(ngModel)]="name" autofocus=true></ion-input>
    </ion-item>

    <div style="margin-top: 10px;">
      <ion-button class="ion-float-right" style="margin-left: 5px;" type="submit" color="primary" (click)="generateQRCode()">
        Generieren</ion-button>
    </div>

    <img *ngIf="displayQRCode" [src]="generated" />

  </ion-list>
</ion-content>