<ion-content class="ion-padding" scroll-y="false" style="background-color: blue;">

  <ion-slides #slider pager="true" [options]="slideOpts">

    <ion-slide>
      <app-logo></app-logo>
      <h2>{{ 'welcome.slides.welcome.title' | translate }}</h2>
      <p> {{ 'welcome.slides.welcome.description' | translate }}
        <br />
        <b>{{ 'welcome.slides.welcome.advice' | translate }}</b>
      </p>
      <ion-fab-button color="primary" class="ion-float-right" (click)="slider.slideNext()">
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-fab-button>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/icon/favicon.svg" />
      <h2>{{ 'welcome.slides.language.title' | translate }}</h2>
      <app-language-selector></app-language-selector>
      <p>{{ 'welcome.slides.language.advice' | translate }}</p>
      <ion-fab-button color="primary" class="ion-float-right" (click)="slider.slideNext()">
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-fab-button>
    </ion-slide>

    <ion-slide>
      <ion-icon name="shield-checkmark" style="padding-top:30px; font-size: 64px;"></ion-icon>
      <h2>{{ 'welcome.slides.what.title' | translate }}</h2>
      <p [innerHTML]="'welcome.slides.what.description' | translate"></p>
      <ion-fab-button color="primary" class="ion-float-right" (click)="slider.slideNext()">
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-fab-button>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/icon/favicon.svg" />
      <h2>{{ 'welcome.slides.why.title' | translate }}</h2>
      <p [innerHTML]="'welcome.slides.why.description' | translate"></p>
      <ion-fab-button color="primary" class="ion-float-right" (click)="slider.slideNext()">
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-fab-button>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/icon/favicon.svg" />
      <h2>{{ 'welcome.slides.how.title' | translate }}</h2>
      <p>{{ 'welcome.slides.how.description' | translate }}</p>
      <a href="https://youtube.de">{{ 'welcome.slides.how.videoLink' | translate }}</a>
      <ion-fab-button color="primary" class="ion-float-right" (click)="slider.slideNext()">
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-fab-button>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/icon/favicon.svg" />
      <h2>{{ 'welcome.slides.nextSteps.title' | translate }}</h2>
      <p [innerHTML]="'welcome.slides.nextSteps.description' | translate"></p>
      <ion-button fill="clear" (click)="onNextClick()">{{ 'welcome.slides.nextSteps.continue' | translate }}<ion-icon
          slot="end" name="arrow-forward"></ion-icon>
      </ion-button>

    </ion-slide>

  </ion-slides>

</ion-content>