<ion-content class="ion-padding" scroll-y="false" style="background-color: blue;">

  <ion-slides #slider pager="true" [options]="slideOpts" (ionSlideDidChange)="onSlideChange()">

    <ion-slide>

      <ion-img style="height: 22vh; max-height: 400px; margin-left: auto; margin-right: auto; padding: 20px;" src="../../assets/imgs/OHIOH_Fachhochschule_Kiel_transparent.png"></ion-img>
      <ion-img style="height: 15vh; max-height: 400px; margin-left: auto; margin-right: auto; padding: 20px;" src="../../assets/imgs/Fachhochschule_Kiel_transparent.png"></ion-img>

      <h2>{{ 'welcome.slides.welcome.title' | translate }}</h2>
      <p> {{ 'welcome.slides.welcome.description' | translate }}
        <br />
        <b>{{ 'welcome.slides.welcome.advice' | translate }}</b>
      </p>
      <ion-item>
        <ion-checkbox slot="start" (ionChange)="hasAcceptedChanged()" [(ngModel)]="hasAccepted"></ion-checkbox>
        <p>Ich erkläre mich mit den AGBs einverstanden und habe die Datenschutzerklärungen zur Kenntnis genommen.</p>
      </ion-item>
      <a routerLink="/credits" style="padding-top: 10px">Impressum</a>
      <ion-fab-button color="primary" (click)="checkAcceptedAndContinue()">
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-fab-button>
    </ion-slide>

    <ion-slide>
      <app-logo></app-logo>
      <h2>{{ 'welcome.slides.language.title' | translate }}</h2>
      <app-language-selector></app-language-selector>
      <p>{{ 'welcome.slides.language.advice' | translate }}</p>
      <ion-fab-button color="primary" (click)="slider.slideNext()">
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-fab-button>
    </ion-slide>

    <ion-slide>
      <!-- <ion-icon name="shield-checkmark" style="padding-top:30px; font-size: 64px;"></ion-icon> -->
      <app-logo></app-logo>
      <h2>{{ 'welcome.slides.what.title' | translate }}</h2>
      <p [innerHTML]="'welcome.slides.what.description' | translate"></p>
      <ion-fab-button color="primary" (click)="slider.slideNext()">
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-fab-button>
    </ion-slide>

    <ion-slide>
      <app-logo></app-logo>
      <h2>{{ 'welcome.slides.warning.title' | translate }}</h2>
      <p [innerHTML]="'welcome.slides.warning.description' | translate"></p>
      <ion-fab-button color="primary" (click)="slider.slideNext()">
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-fab-button>
    </ion-slide>

    <ion-slide>
      <app-logo></app-logo>
      <h2>{{ 'welcome.slides.security.title' | translate }}</h2>
      <p [innerHTML]="'welcome.slides.security.description' | translate"></p>
      <ion-fab-button color="primary" (click)="slider.slideNext()">
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-fab-button>
    </ion-slide>

    <ion-slide>
      <app-logo></app-logo>
      <h2>{{ 'welcome.slides.video.title' | translate }}</h2>
      <p>{{ 'welcome.slides.video.description' | translate }}</p>
      <a></a>
      <ion-button fill="clear" href="https://youtu.be/jjoirFw4vKg">
        <ion-icon name="logo-youtube" size="large" slot="start"></ion-icon>
        {{ 'welcome.slides.video.videoLink' | translate }}
        <ion-icon slot="end" style="font-size: 16px;" name="open-outline"></ion-icon>
      </ion-button>
      <ion-fab-button color="primary" (click)="onNextClick()">
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-fab-button>
    </ion-slide>

    <!-- TODO: Use a new user-data component here to input data -->
    <!-- <ion-slide>
      <app-logo></app-logo>
      <h2>{{ 'welcome.slides.nextSteps.title' | translate }}</h2>
      <p [innerHTML]="'welcome.slides.nextSteps.description' | translate"></p>
      <ion-button fill="clear" (click)="onNextClick()">{{ 'welcome.slides.nextSteps.continue' | translate }}<ion-icon
          slot="end" name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-slide> -->

  </ion-slides>

</ion-content>