
<ion-list>
  
  <ion-list-header>
    <h6>Bitte wählen Sie Ihre Sprache aus:</h6>
  </ion-list-header>

  <ion-radio-group value="de">

    <ion-item>
      <ion-icon name="flag" slot="start"></ion-icon>
      <ion-label>Deutsch</ion-label>
      <ion-radio slot="end" value="de"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-icon name="flag" slot="start"></ion-icon>
      <ion-label>Englisch</ion-label>
      <ion-radio slot="end" value="en"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-icon name="flag" slot="start"></ion-icon>
      <ion-label>Französisch</ion-label>
      <ion-radio slot="end" value="fr"></ion-radio>
    </ion-item>

  </ion-radio-group>

</ion-list>