@import "../../global.scss";

.content {
    @extend .margin-right-left-auto;
    max-width: 500px;
}

ion-item.warning {
    --ion-background-color: #ffedb4;
}

ion-item h2 {
    margin-top: 8px;
    font-size : 26px;
}

$breakpoint-smartphone: 576px;
@media (max-width: $breakpoint-smartphone) {
    ion-item h2 {
        margin-top: 8px;
        font-size : 20px;
    }
}


ion-item ion-button {
    float     : right;
    margin-top: 10px;
    height    : 36px;
}