<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-icon name="person" style="margin-right: 10px"></ion-icon>
      {{ 'userData.title' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <p>{{ 'userData.description' | translate }}</p>
  <form [formGroup]="validations_form" (ngSubmit)="applyData()">

    <ion-item>
      <ion-label position="floating">{{ 'userData.firstName' | translate }}</ion-label>
      <ion-input formControlName="prename" autocapitalize="'words'" autofocus=true></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">{{ 'userData.lastName' | translate }}</ion-label>
      <ion-input formControlName="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">{{ 'userData.phone' | translate }}</ion-label>
      <ion-input formControlName="phone" inputmode="tel"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">{{ 'userData.age' | translate }}</ion-label>
      <ion-input formControlName="age" type="number" (keypress)="numberOnlyValidation($event)"></ion-input>
    </ion-item>
    <div class="input-sub-text danger ion-padding" *ngIf="validations_form.controls.age.invalid">
      <ion-icon name="alert-circle"></ion-icon>
      <span>{{ 'userData.ageValidationMessage' | translate }}</span>
    </div>



    <ion-item>
      <ion-label position="floating">{{ 'userData.city' | translate }}</ion-label>
      <ion-input formControlName="residence"></ion-input>
    </ion-item>

    <div class="ion-padding">
      <ion-button class="ion-float-right" type="submit" color="success" (click)="applyData()">{{ 'userData.submit' | translate }}</ion-button>
      <ion-button class="ion-float-right" color="light" (click)="cancel()">{{ 'userData.cancel' | translate }}</ion-button>
    </div>
  </form>

</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row class="ion-justify-content-end">
      <ion-col size="auto">

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>