<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'settings.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <p>{{ 'settings.description' | translate }}</p>

  <ion-list>
    <ion-item>
      <ion-label position="floating">{{ 'settings.gpsDataStorageDuration' | translate }}</ion-label>
      <ion-input type="num" [(ngModel)]="gpsDataStorageDuration" (ionChange)="settingsChanged()"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">{{ 'settings.otherDataStorageDuration' | translate }}</ion-label>
      <ion-input type="num" [(ngModel)]="otherDataStorageDuration" (ionChange)="settingsChanged()"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">{{ 'settings.trackingInterval' | translate }}</ion-label>
      <ion-input type="num" [(ngModel)]="trackingInterval" (ionChange)="settingsChanged()"></ion-input>
    </ion-item>
  </ion-list>

</ion-content>